FORMAT: 1A
HOST: http://funhub-devel.gunet.gr/

# SSN API (amka-services)
## About this API
This API provides a resource to view, manage and validate information
about SSN (AMKA) numbers and their related metadata.

# Home [/]
This is the home resource.

## API Discovery [GET]
* Request
    * Headers
    
            Accept: application/vnd.collection+json

* Response 200 (application/vnd.collection+json)

        {
          "collection" :
          {
            "version" : "1.0",
            "href" : "...",
            "links": [
                {
                    "href": "https://git.gunet.gr/web-services/amka-services-spec/raw/master/profiles/SSN.xml",
                    "rel": "profile"
                },
                {
                    "href": "...",
                    "rel": "ssn-collection"
                }
            ]
          }
        }

# Group SSN resources

# SSN Collection [/ssn/{?familyName,birthDate,ssn}]
A collection of SSN resources.

+ Model (application/vnd.collection+json)
    
            {
              "collection" :
              {
                "version" : "1.0",
                "href" : "...",
                "links": [
                    {
                        "href": "https://git.gunet.gr/web-services/amka-services-spec/raw/master/profiles/ValidateSSN.xml",
                        "rel": "profile"
                    }
                ],
                "queries": [
                    ...
                ]
              }
            }

## Retrieve SSN [GET]
This action retrieves a list of SSN resources from the collection. Currently,
the resource supports retrieving at most one SSN resource, based on the value
of the `ssn` parameter. Additionally one may provide `familyName` and `birthDate` to validate the data
against the specific SSN.

+ Parameters
    + familyName: `Παπαδόπουλος` (text, optional) - surname or family name to validate with.
    + birthDate: `1981-05-10` (date, optional) - birth date in ISO 8061 format.
    + ssn: `12093134234` (text) - the SSN to validate with

+ Request

    + Headers
    
            Accept: application/vnd.siren+json
            
+ Response 200 

    [SSN Collection][]

+ Response 400